[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/vanshikamittal
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vanshikamittal
	label-Verified = -1..+1 group user/vanshikamittal
	push = group user/vanshikamittal
	read = group user/vanshikamittal
	rebase = group user/vanshikamittal
	removeReviewer = group user/vanshikamittal
	submit = group user/vanshikamittal
[access "refs/heads/*"]
	create = group user/vanshikamittal
	push = +force group user/vanshikamittal
	pushMerge = group user/vanshikamittal
	read = group user/vanshikamittal
[access "refs/tags/*"]
	push = group user/vanshikamittal
	push = +force group user/vanshikamittal
